# Dex instance hostname (default dex) plus your tailnet domain for Funnel
ISSUER=dex.your-tailnet.ts.net

# Example: Cloudflare Access as a client

# abcde.cloudflareaccess.com
CF_OIDC_SUBDOMAIN=abcde

# Fill with `openssl rand -hex 24` or similar
CF_OIDC_SECRET=
